.slick-arrow.slick-prev {
    font-size: 32px;
    color: black;
    @media screen and (max-width: 1024px) {
        font-size: 24px;
        visibility: hidden;
    }
}
.slick-arrow.slick-next {
    font-size: 32px;
    color: black;
    @media screen and (max-width: 1024px) {
        font-size: 24px;
        visibility: hidden;
    }
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:focus {
    color: black;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:focus {
    color: black;
}
.ant-carousel .slick-next:hover {
    color: #00b0f0;
    @media screen and (max-width: 1024px) {
        visibility: hidden;
    }
}

.ant-carousel .slick-prev:hover {
    color: #00b0f0;

    @media screen and (max-width: 1024px) {
        visibility: hidden;
    }
}

